---
import { Image } from 'astro:assets'
import Link from '@components/Link.astro'
import CardArticle from '@components/CardArticle.astro'
import { formatPubDate } from '@utils/date'
import type { ImageMetadata } from 'astro'

interface Props {
  title: string
  pubDate: Date
  readingTime: any
  authors: any[]
  cover: {
    src: ImageMetadata
    alt: string
  }
  relatedArticles: never[]
}

const {
  title = 'Article Title',
  pubDate,
  readingTime,
  authors = [{ id: 'allanjuarez' }],
  cover,
  relatedArticles,
} = Astro.props

const date = formatPubDate(new Date(pubDate), { locales: 'es-MX', style: { dateStyle: 'full' } })

console.log(relatedArticles)
---

<article>
  <Image src={cover.src} alt={cover.alt} />
  <section>
    <h1>{title}</h1>
    <div>
      <div class='flex gap-[1ch]'>
        <time datetime={pubDate.toISOString().split('T')[0]}>{date}</time>
        <span>•</span>
        <span>{readingTime}</span>
      </div>
      <div>
        <span>Escrito por:</span>
        <div class='flex flex-col'>
          {
            authors.map(author => (
              <Link
                type='external'
                href={`https://www.linkedin.com/in/${author.id}/`}>{`@${author.id}`}</Link>
            ))
          }
        </div>
      </div>
    </div>
  </section>
  <section>
    <slot />
  </section>
  <aside>
    <h4>Articulos relacionados.</h4>
    {
      relatedArticles.map(article => {
        console.log(article)
        return (
          <Link type='local' href={`${article.id}`}>
            <CardArticle {...article.data} />
          </Link>
        )
      })
    }
  </aside>
</article>
